<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand ms-4" style="font-size:25px;" href="/">Resource Wall</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse d-flex justify-content-end mx-2" id="navbarNavAltMarkup">

      <div class="navbar-nav">
        <% if(locals.user_id){ %>
          <div class="d-flex">
          <form action="/api/users/logout" method="POST">
            <div class="text" style="color: antiquewhite;">Logged In As: <%=user_id%>
                <button type="submit" class="btn btn-primary mr-3">Logout</button>
          </form>
        </div>
        </div>
        <form action="/api/resources" method="POST">
          <!-- <div class="text d-flex">search:</div> -->
            <button type="submit" class="btn btn-primary mx-2">My Resources</button>
        </form>
          <form action="/api/resources" method="POST">
            <!-- <div class="text d-flex">search:</div> -->
              <button type="submit" class="btn btn-primary mx-2">Search</button>
          </form>
          <form action="/api/resources" method="POST">
            <!-- <div class="text d-flex">search:</div> -->
              <button type="submit" class="btn btn-primary mx-2">Add Resource</button>
          </form>

          <% } else { %>
            <form action="/login" method="GET">
              <button type="button" class="btn btn-light mx-2"> <a href="/api/users/login">Login</button></a>
            </form>
            <form method="GET" action="/register">
              <button type="button" class="btn btn-light mx-2"> <a href="/api/users/register">Register</button></a>
            </form>

            <% } %>
      </div>
    </div>



  </nav>
</header>
