// See: https://sass-lang.com/

body {
  background-color: #f2eaef;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

