// See: https://sass-lang.com/

body {
  background-color: #f2eaef;
  // background-image: url("https://www.transparenttextures.com/patterns/shattered.png");
}

.background {
  background-image: url("/images/whiteWall.jpg");
  background-size: cover;
  height:100vh;
}

.background::before {
  opacity: 0.5;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
