body {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // min-height: 100vh;

  background-color: #f2eaef;
  background-image: url("https://www.transparenttextures.com/patterns/shattered.png");

}
